<div class="desarrolladoresContainer">
  <div class="desarrolladoresHeader">
    <h2>Listado de desarrolladores</h2>
    <button
      mat-raised-button
      class="newDevButton"
      (click)="navigateTo('registrar')"
    >
      Registrar
    </button>
  </div>
  <div class="desarrolladoresContent">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
          <td mat-cell *matCellDef="let element">{{ element.nombre}}</td>
        </ng-container>

        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Correo</th>
          <td mat-cell *matCellDef="let element">{{ element.correo}}</td>
        </ng-container>

        <ng-container matColumnDef="rol">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rol</th>
          <td mat-cell *matCellDef="let element">{{ element.rol}}</td>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Fecha contratación
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.fecha | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button matTooltip="Ver" onclick="ver.emit(row.id)">
              <mat-icon class="actionIcon">visibility</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Editar">
              <mat-icon class="actionIcon">edit</mat-icon>
            </button>
            <button
              mat-icon-button
              matTooltip="Eliminar"
              (click)="onOpenModal(row.id, row.nombre)"
            >
              <mat-icon class="actionIcon">delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]"
        aria-label="Select page"
      >
      </mat-paginator>
    </div>
  </div>
</div>
